@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url(./reset.css);

#app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
}

header {
  padding: 10px;
  display: flex;
  justify-content: center;

  nav {
    display: flex;

    a {
      text-align: center;
      display: block;
      padding: 10px 15px;
      color: #7f7f7f;
      width: 150px;
      text-decoration: none;
      border-bottom: 3px solid #f3f3f2;
      transition: color 0.3s;


      &.router-link-exact-active, &:hover {
        color: #000000;
        border-color: #3ab848;
      }
    }
  }
}


main {
  padding: 10px;
}